.nav-color {
  background-color: black;
}
$black-shadow: #555;

.logo-css {
  height: 80px !important;
  position: absolute;
  top: -20px;
}
.shadow-header-middle {
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
}

