<article class="col s-article">
    <div class="row g-2 g-lg-5">
      <div class="col col-12 col-md-5">
        <div class="d-flex">
          <a href={articlePath} class="illustration d-flex">
            <img
              src=""
              class="w-100"
              alt=""
            />
          </a>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-2">
          <div class="symbol-group">
            <app-article-speaker />
          </div>

          <div>
              <div class="d-flex align-items-center">
                <span class="smaller fw-bold text-uppercase text-danger">
                  NAME
                </span>
                <svg
                  class="ms-2"
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15 29.834C23.0091 29.834 29.5 23.343 29.5 15.334C29.5 7.32493 23.0091 0.833984 15 0.833984C6.99095 0.833984 0.5 7.32493 0.5 15.334C0.5 23.343 6.99095 29.834 15 29.834Z"
                    fill="#25AD23"
                  />
                  <path
                    d="M6.55713 15.5429L7.8888 14.1769L12.5116 18.7313L22.073 9.2041L23.4389 10.57L12.5116 21.4631L6.55713 15.5429Z"
                    fill="white"
                  />
                </svg>
              </div>

              <div class="d-flex align-items-center">
                <span class="smaller fw-bold text-uppercase text-danger">
                  Name
                </span>
                <svg
                  class="ms-2"
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15 29.834C23.0091 29.834 29.5 23.343 29.5 15.334C29.5 7.32493 23.0091 0.833984 15 0.833984C6.99095 0.833984 0.5 7.32493 0.5 15.334C0.5 23.343 6.99095 29.834 15 29.834Z"
                    fill="#E32219"
                  />
                  <path
                    d="M21.061 10.6579L19.6951 9.29199L15 13.9719L10.3049 9.29199L8.93896 10.6579L13.6303 15.334L8.93896 20.01L10.3049 21.376L15 16.6961L19.6951 21.376L21.061 20.01L16.3697 15.334L21.061 10.6579Z"
                    fill="white"
                  />
                </svg>
              </div>
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-7">
        <h2 class="fs-2 fw-bold mb-2">
          <a href=# class="text-dark s-title">
            TITLE
          </a>
        </h2>
        <div class="mb-2">
          <i>
            <!-- format date written in ts -->
            <!-- formatDate()
            {article.statement.source.medium?.name},{' '}
            {article.statement.source.releasedAt &&
              formatDate(article.statement.source.releasedAt)} -->
          </i>
        </div>

        <p class="fs-6 lh-sm">„“</p>

        <div class="mt-4">
          <a
            href=#
            class="btn outline h-40px px-6 fw-bold"
          >
            <span class="fs-7">Číst dál</span>
          </a>
        </div>
      </div>
    </div>
  </article>