<div class="bg-primary min-h-100 rounded-l p-5 p-lg-10">
    <h3 class="display-5 fw-bold mb-5 text-white">Social networks</h3>
    <div class="mb-4">
        <span class="fs-4">
            Don't miss the latest events from&nbsp;Polifacto.in. By sharing our posts with your friends, you support our work.
        </span>
    </div>
    <div class="d-flex flex-wrap">
        <a
            class="btn white me-2 mb-2 ps-2"
            href=""
        >
            <span class="w-30px h-30px me-2">
            <img src="../../../assets/icons/facebook.svg"/>
            </span>
            <span class="fw-bolder">Facebook</span>
        </a>
        <a
            class="btn white me-2 mb-2 ps-2"
            href=""
        >
            <span class="w-30px h-30px me-2">
                <img src="../../../assets/icons/instagram.svg"/>
            </span>
            <span class="fw-bolder">Instagram</span>
        </a>
        <a
            class="btn white me-2 mb-2 ps-2"
            href=""
        >
            <span class="w-30px h-30px me-2">
                <img src="../../../assets/icons/twitter.svg"/>
            </span>
            <span class="fw-bolder">Twitter</span>
        </a>
    </div>
</div>