<div class="accordion w-100" id="slib-<%= statement.id %>"
  data-target="components--overview.item components--filter.filterItem"
  data-filter-value="<%= statement.tags[0].id %>,<%= statement.assessment.promise_rating.key %>">
  <div class="d-none d-md-block">
    <div class="row g-3 g-lf-6 py-2">
      <div class="col col-12 col-md-5">
      </div>
      <div class="col col-12 col-md-2">
        <h6 class="fs-5 text-uppercase font-bold">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Evaluation</font>
          </font>
        </h6>
      </div>
      <div class="col col-12 col-md-3">
      </div>
    </div>
  </div>
  <app-governmental-promise-content/>
  <app-governmental-promise-content/>
  <app-governmental-promise-content/>
  <app-governmental-promise-content/>
  <app-governmental-promise-content/>
</div>