<div 
  id="banner"
  class="bg-gradient-to-bl from-gray-100 to-lime-50 border-2 border-lime-800 border-solid text-gray-800 py-4 px-6 rounded-3xl shadow-md flex items-center justify-between my-3 mx-0"
>
  <!-- Left Content -->
  <div class="flex items-center">
    <span class="text-lime-600 text-xl mr-3">🔔</span>
    <div>
      <h3 class="text-xl font-bold text-lime-700">Important Announcement</h3>
      <p class="text-base font-semibold text-gray-800 mt-1 leading-relaxed">
        As a small team of 2, we strive to uncover the truth behind claims. If you're passionate about truth and transparency.<br/> Join us in building a platform that values accountability. 
        <a href="mailto:your-email@example.com" class="text-blue-700 font-bold hover:underline">Contact us</a> or fill out this 
        <a href="https://forms.gle/okBTH2HhDtFHDyxp8" target="_blank" class="text-blue-700 font-bold hover:underline">Form</a> 
        to volunteer!
      </p>
    </div>
  </div>
</div>
