<div class="bg-secondary min-h-100 rounded-l p-5 p-lg-10">
    <h3 class="display-5 fw-bold mb-5">Stay in touch</h3>
    <div class="mb-4">
        <span class="fs-4">
            Every week we send our subscribers a summary of the highlights on our WhatsApp channel. Start subscribing to it and have an overview of what disinformation and untruths are currently spreading in the India.
        </span>
    </div>
    <div class="min-w-150px mt-5 mt-lg-0">
        <a class="btn h-44px mb-2 ps-2" href="#">
            <span class="w-30px h-30px me-2">
              <img src="/assets/icons/whatsapp.svg" />
            </span>
            <span class="fw-bolder"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Start subscribing</font></font></span>
        </a>
    </div>
</div>