<div class="bg-dark-light text-white p-5 md:p-2 p-lg-8 rounded-l mb-10">
  <div class="w-100 position-relative">
    <h2 class="display-5 fw-bold mb-4">What is Polifacto?</h2>
    <div class="fs-6 mb-10 dark-content">
      <p class="text-lg font-semibold text-zinc-8">
        Polifacto is a platform dedicated to fact-checking and verifying
        statements made by Indian politicians and political parties.<br />
        <br />
        It focuses on uncovering the truth behind claims, promises, and
        disinformation, providing citizens with accurate, transparent, and
        unbiased information. <br />
        <br />
        <a class="!text-gray-50 font-bold text-lg !no-underline hover:!underline" href="/about-us"
          >Learn more
        </a>
      </p>
    </div>
    <!-- Add introduction video  -->
    <div class="w-100 position-relative">
      <app-video-player
        [thumbnail]="'/assets/images/workshop.jpg'"
        [videoSrc]="'/assets/media/video-main.mp4'"
      ></app-video-player>
    </div>
    <div class="mt-5">
      <span class="fs-5 mb-4"> Shootup your questions now!! </span>
    </div>
    <div class="mt-4">
      <button
        class="btn !bg-[--bg-lime] w-100"
        (click)="openAskQuestionOverlay()"
      >
        <span class="text-dark font-bold">Ask Us</span>
      </button>
    </div>
  </div>
</div>
