<div id="container-id" class="container">
  <div
    class="row g-5 g-lg-10"
    data-controller="components--sticky"
    data-action="scroll@window->components--sticky#onScroll"
    data-components--sticky-breakpoint="992"
  >
    <div class="col col-12 col-lg-3 position-relative flex items-end">
      <nav
        class="side-nav w-100 side-nav-mobile"
        [ngClass]="{ fixed: !hasUserReachedTheBottomOfThePage }"
        data-bs-target="components--sticky.sticky"
        style="width: 250px !important"
        [ngStyle]="{ top: '145px' }"
      >
        <h1 class="display-4 fw-bold mb-4 p-0">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">About us</font>
          </font>
        </h1>
        <ul class="list p-0">
          <li (click)="scrollIntoView(polifactoSection, 'about')">
            <a
              class="min-h-30px d-inline-flex fs-5 fw-bold text-dark align-items-center text-none state-line mb-2"
              [ngClass]="{ active: activeLink === 'about' }"
            >
              <span>
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit"
                    >1. About Polifacto</font
                  >
                </font>
              </span>
            </a>
          </li>
          <li (click)="scrollIntoView(evaluationSection, 'evaluate')">
            <a
              class="min-h-30px d-inline-flex fs-5 fw-bold text-dark align-items-center text-none state-line mb-2"
              [ngClass]="{ active: activeLink === 'evaluate' }"
            >
              <span>
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit"
                    >2. How do Polifacto work?</font
                  >
                </font>
              </span>
            </a>
          </li>
          <li (click)="scrollIntoView(contactSection, 'contacts')">
            <a
              class="min-h-30px d-inline-flex fs-5 fw-bold text-dark align-items-center text-none state-line mb-2"
              [ngClass]="{ active: activeLink === 'contacts' }"
            >
              <span>
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">3. Contacts</font>
                </font>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div
      class="col col-12 col-lg-9"
      data-bs-target="components--sticky.content"
    >
      <div #polifactoSection class="accordion pb-10" id="co-je-to-polifacto-in">
        <h2 class="pb-4 mb-0">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">1. About Polifacto</font>
          </font>
        </h2>

        <div class="accordion-item" id="co-je-to-polifacto-in">
          <h2 class="accordion-header" id="heading-co-je-to-polifacto-in">
            <button
              class="accordion-button collapsed !transition-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-co-je-to-polifacto-in"
              aria-expanded="false"
              aria-controls="collapse-co-je-to-polifacto-in"
            >
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  What is Polifacto?
                </font>
              </font>
            </button>
          </h2>
          <div
            id="collapse-co-je-to-polifacto-in"
            class="accordion-collapse collapse"
            aria-labelledby="heading-co-je-to-polifacto-in"
            data-bs-parent="#co-je-to-polifacto-in"
            style
          >
            <div class="accordion-body">
              <div class="content">
                <p>
                  <strong>
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">Polifacto</font>
                    </font>
                  </strong>
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">.</font> </font
                  ><strong>
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">in</font>
                    </font>
                  </strong>
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">
                      is a platform designed for the Indian audience, offering a
                      space to evaluate and engage with statements and promises
                      made by politicians and political parties. Polifacto
                      aggregates relevant sources from across the internet to
                      provide citizens with the necessary information.
                    </font>
                  </font>
                </p>
                <p>
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">
                      At Polifacto, we empower users with information sources
                      and the necessary context to form their own opinions.
                      Users can then express their perspectives by participating
                      in our interactive rating system, reflecting their
                      understanding and insights. Importantly, we do not make
                      judgments or offer conclusions—our role is to present the
                      relevant details and enable users to make informed
                      decisions based on their own understanding. Through
                      community-driven engagement and a user-led rating system,
                      Polifacto fosters transparency and accountability,
                      encouraging active participation in shaping a more
                      informed democracy.
                    </font>
                  </font>
                </p>
                <p>
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">
                      <div
                        class="bg-gray-50 border-2 border-black shadow-sm rounded-lg p-4 text-sm"
                      >
                        <h3 class="text-gray-800 text-lg font-semibold mb-2">
                          Note on Polifacto: MVP/Prototype Status
                        </h3>
                        <p class="text-gray-700 mb-2">
                          Polifacto is currently at the
                          <strong>Minimum Viable Product (MVP)</strong> stage—a
                          prototype brimming with potential but still in its
                          formative phase. This means the platform is functional
                          and showcases core features, but it’s not yet polished
                          or fully representative of the final product. Think of
                          it as a caterpillar: crawling, experimenting, and
                          gathering feedback before blossoming into a butterfly.
                        </p>
                        <p class="text-gray-700 mb-2">
                          <strong>Importantly</strong>, we
                          <strong>do not make judgments</strong> or
                          <strong>offer conclusions</strong>—our role is to
                          present the relevant details and enable users to make
                          informed decisions based on their own understanding
                        </p>
                        <p class="text-gray-700 mb-2">
                          <strong>Disclaimer:</strong> Polifacto is provided "as
                          is" during this prototype phase under active
                          development. While we strive for accuracy and
                          reliability, users should be aware that some features
                          may not work as expected. Feedback is encouraged to
                          help us improve, but it does not guarantee immediate
                          changes.
                        </p>
                        <p class="text-gray-700 font-medium">
                          By using this platform, you agree to use it as a
                          project/prototype/MVP and not a final product and
                          accept these terms and conditions.
                        </p>
                      </div>
                    </font>
                  </font>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item" id="jak-projekt-polifacto-in-vznikl">
          <h2
            class="accordion-header"
            id="heading-jak-projekt-polifacto-in-vznikl"
          >
            <button
              class="accordion-button collapsed !transition-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-jak-projekt-polifacto-in-vznikl"
              aria-expanded="false"
              aria-controls="collapse-jak-projekt-polifacto-in-vznikl"
            >
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  How did the Polifacto project come about?
                </font>
              </font>
            </button>
          </h2>
          <div
            id="collapse-jak-projekt-polifacto-in-vznikl"
            class="accordion-collapse collapse"
            aria-labelledby="heading-jak-projekt-polifacto-in-vznikl"
            data-bs-parent="#co-je-to-polifacto-in"
            style
          >
            <div class="accordion-body">
              <div class="content">
                <p>
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit"
                      >The Polifacto project was born from the vision of two
                      innovative minds who sought to make a meaningful impact on
                      society. Driven by a shared passion for empowering the
                      people of India to have their own perspective and then
                      make informed decisions.</font
                    >
                  </font>
                </p>
                <p>
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit"
                      >We envisioned a platform that empowers citizens with the
                      tools to make their own informed decisions. Polifacto was
                      built to transfer the power of understanding and judgment
                      into the hands of the people, promoting transparency,
                      accountability, and active participation in shaping a more
                      informed and aware democracy.</font
                    >
                  </font>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item" id="kdo-pripravuje-polifacto-in">
          <h2 class="accordion-header" id="heading-kdo-pripravuje-polifacto-in">
            <button
              class="accordion-button collapsed !transition-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-kdo-pripravuje-polifacto-in"
              aria-expanded="false"
              aria-controls="collapse-kdo-pripravuje-polifacto-in"
            >
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  Want to join Polifacto?
                </font>
              </font>
            </button>
          </h2>
          <div
            id="collapse-kdo-pripravuje-polifacto-in"
            class="accordion-collapse collapse"
            aria-labelledby="heading-kdo-pripravuje-polifacto-in"
            data-bs-parent="#co-je-to-polifacto-in"
          >
            <div class="accordion-body">
              <div class="row g-5">
                <div class="col col-12">
                  <div class="row g-5 g-lg-10">
                    <div class="col col-10">
                      <h4 class="fs-2">
                        <font style="vertical-align: inherit">
                          <font style="vertical-align: inherit"
                            >Want to Join Us??</font
                          >
                        </font>
                      </h4>
                      <p class="fs-6 flex items-center">
                        <font style="vertical-align: inherit">
                          <font style="vertical-align: inherit"
                            >We are looking for
                            <strong>dedicated individuals</strong> who share our
                            passion for truth and transparency to join us in
                            this journey. If you're willing to volunteer your
                            time and skills to help research and develop the platform,
                            we’d love to have you on board. Together, we can
                            build a platform that prioritizes accountability and
                            reliable information.</font
                          >
                        </font>
                      </p>

                      <p style="color: #171717; line-height: 1.6">
                        Interested in joining us?
                        <a
                          class="font-bold"
                          href="mailto:info.polifacto@gmail.com"
                          style="color: #007bff; text-decoration: none"
                        >
                          Contact us
                        </a>
                        or reach out to us using this
                        <a
                          class="font-bold"
                          href="https://forms.gle/okBTH2HhDtFHDyxp8"
                          target="_blank"
                          style="color: #007bff; text-decoration: none"
                        >
                          Form
                        </a>
                        and let’s work together to unveil the truth.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div #evaluationSection class="accordion pb-10" id="jak-hodnotime">
        <h2 class="pb-4 mb-0">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">2. How do we evaluate?</font>
          </font>
        </h2>

        <div class="accordion-item" id="co-je-to-factcheck">
          <h2 class="accordion-header" id="heading-co-je-to-factcheck">
            <button
              class="accordion-button collapsed !transition-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-co-je-to-factcheck"
              aria-expanded="false"
              aria-controls="collapse-co-je-to-factcheck"
            >
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  What is a "User Rating system"?
                </font>
              </font>
            </button>
          </h2>
          <div
            id="collapse-co-je-to-factcheck"
            class="accordion-collapse collapse"
            aria-labelledby="heading-co-je-to-factcheck"
            data-bs-parent="#jak-hodnotime"
            style
          >
            <div class="accordion-body">
              <div class="content">
                <p>
                  The User Rating System is an interactive feature designed to
                  empower users to evaluate and rate statements and promises
                  made by politicians and political parties. This system
                  provides users with access to relevant information and sources
                  about a particular statement or promise, allowing them to
                  understand the context and form their own informed opinions.
                  <br />
                  <br />
                  Using this system, users can assess the authenticity,
                  progress, or fulfillment of statements and promises based on
                  their interpretation of the provided details. By clicking on
                  the rating options available on the platform, users can
                  express their perspectives, contributing to a collective
                  understanding and community-driven evaluation of political
                  claims.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item" id="jak-vybirame-obsah-k-overeni">
          <h2
            class="accordion-header"
            id="heading-jak-vybirame-obsah-k-overeni"
          >
            <button
              class="accordion-button collapsed !transition-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-jak-vybirame-obsah-k-overeni"
              aria-expanded="false"
              aria-controls="collapse-jak-vybirame-obsah-k-overeni"
            >
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  How do we select statements and promises?
                </font>
              </font>
            </button>
          </h2>
          <div
            id="collapse-jak-vybirame-obsah-k-overeni"
            class="accordion-collapse collapse"
            aria-labelledby="heading-jak-vybirame-obsah-k-overeni"
            data-bs-parent="#jak-hodnotime"
          >
            <div class="accordion-body">
              <div class="content">
                <p>
                  At Polifacto, we take a meticulous approach to selecting
                  content, focusing on relevance and the latest developments in
                  the political landscape. Our goal is to address the most
                  significant political statements and claims with impartiality
                  and objectivity. Here's how we do it:
                </p>
                <p>
                  <strong>Sources of Content</strong>
                </p>
                <ul class="list-disc pl-5 space-y-2 text-gray-800">
                  <li>
                    <strong>User Submissions:</strong> We verify content
                    submitted by users who ask questions or request fact-checks.
                  </li>
                  <li>
                    <strong>Political Statements:</strong> We select statements
                    made by politicians in speeches, interviews, and debates.
                  </li>
                  <li>
                    <strong>Promises and Manifestos:</strong> We add promises
                    and policy agendas presented by political parties.
                  </li>
                  <li>
                    <strong>Social Media:</strong> We focus on individual
                    statements found on platforms like Twitter, Facebook, and
                    Instagram.
                  </li>
                </ul>
                <p>
                  Our selection of statements for verification ultimately
                  depends on the availability and quality of content, and will
                  never be perfect. We therefore welcome
                  <a href="https://forms.gle/okBTH2HhDtFHDyxp8"
                    >suggestions and criticisms</a
                  >
                  for evaluation and selection.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item" id="jakym-zpusobem-vyroky-hodnotime">
          <h2
            class="accordion-header"
            id="heading-jakym-zpusobem-vyroky-hodnotime"
          >
            <button
              class="accordion-button collapsed !transition-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-jakym-zpusobem-vyroky-hodnotime"
              aria-expanded="false"
              aria-controls="collapse-jakym-zpusobem-vyroky-hodnotime"
            >
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  How can YOU evaluate statements?
                </font>
              </font>
            </button>
          </h2>
          <div
            id="collapse-jakym-zpusobem-vyroky-hodnotime"
            class="accordion-collapse collapse"
            aria-labelledby="heading-jakym-zpusobem-vyroky-hodnotime"
            data-bs-parent="#jak-hodnotime"
          >
            <div class="accordion-body">
              <div class="content">
                <p>
                  At Polifacto, we evaluate statements using a structured
                  approach to ensure clarity and transparency. Each statement is
                  categorized into one of the following four categories:
                </p>
                <ol class="list-decimal pl-5 space-y-4">
                  <li>
                    <strong [ngClass]="setTextColor('violated', '')"
                      >False</strong
                    >
                    <ul class="list-disc pl-5">
                      <li>
                        Claims that contradict publicly available figures or
                        information about actions or inactions.
                      </li>
                      <li>
                        Statements where the methods of calculation differ
                        significantly, and the claim is not supported by any
                        reliable source.
                      </li>
                    </ul>
                  </li>
                  <li>
                    <strong class="text-green-500">Truth</strong>
                    <ul class="list-disc pl-5">
                      <li>
                        Statements that use accurate information in the correct
                        context.
                      </li>
                      <li>
                        You may use "qualified truth" for cases where the
                        statement has minor inaccuracies or small deviations
                        (e.g., numerical data within a 10% margin of error).
                      </li>
                      <li>
                        Rounding is tolerated unless the politician specifically
                        emphasizes precise accuracy.
                      </li>
                    </ul>
                  </li>
                  <li>
                    <strong class="text-yellow-400">Misleading</strong>
                    <ul class="list-disc pl-5">
                      <li>
                        Statements that use correct facts but are presented in a
                        way that misleads the audience.
                      </li>
                      <li>
                        Typically, these involve:
                        <ul class="list-disc pl-5">
                          <li>Statements taken out of context.</li>
                          <li>
                            Distorted comparisons or other manipulations that
                            could lead to a false conclusion.
                          </li>
                        </ul>
                      </li>
                      <li>
                        It is not a middle ground between truth and falsehood
                        but rather an intentional misuse of factual data.
                      </li>
                    </ul>
                  </li>
                  <li>
                    <strong [ngClass]="setTextColor('notImplemented', '')"
                      >No comment</strong
                    >
                    <ul class="list-disc pl-5">
                      <li>
                        This category includes statements which you might not
                        want to form an opinion about. <br />
                      </li>
                    </ul>
                  </li>
                </ol>

                <p>
                  Our goal is to provide unbiased and transparent information
                  and sources, empowering you to form informed opinions to
                  better understand political claims and their context.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="accordion-item"
          id="jak-nakladat-se-statistikami-vyroku-a-hodnoceni"
        >
          <h2
            class="accordion-header"
            id="heading-jak-nakladat-se-statistikami-vyroku-a-hodnoceni"
          >
            <button
              class="accordion-button collapsed !transition-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-jak-nakladat-se-statistikami-vyroku-a-hodnoceni"
              aria-expanded="false"
              aria-controls="collapse-jak-nakladat-se-statistikami-vyroku-a-hodnoceni"
            >
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  How do YOU evaluate promises?
                </font>
              </font>
            </button>
          </h2>
          <div
            id="collapse-jak-nakladat-se-statistikami-vyroku-a-hodnoceni"
            class="accordion-collapse collapse"
            aria-labelledby="heading-jak-nakladat-se-statistikami-vyroku-a-hodnoceni"
            data-bs-parent="#jak-hodnotime"
          >
            <div class="accordion-body">
              <div class="content">
                <p>
                  At Polifacto, we believe that political accountability starts
                  with evaluating promises made by parties and leaders. To
                  ensure clarity and transparency, Polifacto has provided a
                  platform where you can mark the promises as
                  <em>Fullfilled</em>, <em>Violated</em>, <em>In Progress</em>,<em>Not Implemented</em>, <em>Partly Implemented</em>
                  or <em>Not Verified Yet</em> based on your own opinions and
                  understanding. The goal of this feature is to provide a
                  collective perspective about the promises, while empowering
                  you to decide the outcome for yourself. This helps
                  everyone to stay informed about the commitments made during
                  elections and the extent to which they have been honored.
                </p>
                <h3 class="mt-4 text-lg font-semibold">Our Approach</h3>
                <p>
                  We provide the manifestos of political parties
                  competing in the election. These manifestos outline the
                  promises and commitments made to the public. Each promise can be
                  categorized into one of the following five categories:
                </p>
                <ol class="list-disc space-y-4 font-medium">
                  <li>
                    <strong class="text-lg text-green-500">Fulfilled:</strong>
                    Fully implemented promises that meet the original
                    commitment.
                  </li>
                  <li>
                    <strong
                      class="text-lg"
                      [ngClass]="setTextColor('violated', '')"
                      >Violated:</strong
                    >
                    Promises disregarded or contradicted by opposing actions.
                  </li>
                  <li>
                    <strong
                      class="text-lg"
                      [ngClass]="setTextColor('inProgress', '')"
                      >In Progress:</strong
                    >
                    Promises currently under active implementation but not yet
                    completed.
                  </li>
                  <li>
                    <strong
                      class="text-lg"
                      [ngClass]="setTextColor('notImplemented', '')"
                      >Not Implemented:</strong
                    >
                    Promises for which no visible steps or actions have been
                    taken.
                  </li>
                  <li>
                    <strong class="text-lg text-yellow-400"
                      >Partly Implemented:</strong
                    >
                    Promises partially fulfilled, with significant portions
                    unaddressed.
                  </li>
                  <li>
                    <strong class="text-lg" class="text-purple-900"
                      >Not Verified Yet:</strong
                    >
                    This category includes promises awaiting updates,
                    independent audits, <br />
                    or further implementation steps for conclusive evaluation.
                  </li>
                </ol>
                <h3 class="mt-4 text-lg font-semibold">Why This Matters</h3>
                <p>
                  By providing this platform with these categories of promises, we want you to have a clear picture of how
                  political parties perform against their own commitments. Your
                  evaluations empower citizens to make informed decisions, hold
                  leaders accountable, and promote transparency in democratic
                  processes.
                </p>

                <p>
                  At Polifacto, our mission is to bridge the gap between
                  promises and delivery, fostering a culture of trust and
                  accountability in Indian politics.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div #contactSection class="accordion pb-10" id="kontakty">
        <h2 class="pb-4 mb-0">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">7. Contacts</font>
          </font>
        </h2>

        <div class="accordion-item" id="kontakty">
          <h2 class="accordion-header" id="heading-kontakty">
            <button
              class="accordion-button collapsed !transition-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-kontakty"
              aria-expanded="true"
              aria-controls="collapse-kontakty"
            >
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit"> Contacts </font>
              </font>
            </button>
          </h2>
          <div
            id="collapse-kontakty"
            class="accordion-collapse collapse"
            aria-labelledby="heading-kontakty"
            data-bs-parent="#kontakty"
          >
            <div class="accordion-body">
              <div class="content">
                <p>
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit"
                      >We value your feedback, questions, and suggestions.
                      Whether you’re looking to share your thoughts, ask a
                      question, or explore a potential collaboration, we’re here
                      to listen and assist.
                      <br />
                      <br />
                      <b>Get in Touch</b>
                      <br />
                      Feel free to reach out
                      <br />
                      <br />
                      <ul class="list-disc pl-5 space-y-2 text-gray-700">
                        <li>
                          <span class="font-semibold">General Queries:</span>
                          Need assistance or have a question about our platform?
                          Let us know.
                        </li>
                        <li>
                          <span class="font-semibold">Suggestions:</span> Your
                          ideas help us grow! Share your valuable feedback.
                        </li>
                        <li>
                          <span class="font-semibold">Collaborations:</span>
                          Join Hands with Us!! Volunteer, Collaborate, or Help
                          Us Verify the Facts!
                        </li>
                      </ul>
                    </font>
                  </font>
                  <br />
                  <b>Fill Out Our Form</b>
                  <br />
                  <a
                    href="https://forms.gle/meqxhjfvqZgNh91AA"
                    class="text-base font-bold"
                  >
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">{{ "Form" }}</font>
                    </font>
                  </a>
                  for collaboration, feedbacks or suggestions. Looking forward
                  to hear from you :)
                  <br />
                  <br />
                  <b>Contact Us At</b>
                  <br />
                  Email:
                  <a href="mailto:info.polifacto@gmail.com">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">{{
                        "info.polifacto@gmail.com"
                      }}</font>
                    </font>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
